<% layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-3">
    <div class="col-6 offset-3">
      <h1>Welcome to Celestia</h1>
      <form action="/signup" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="username" class="form-label mt-3">Username</label>
          <input name="username" type="text" placeholder="Enter username" class="form-control" id="username" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label mt-3">Email</label>
          <input name="email" type="email" placeholder="Enter email" class="form-control" id="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label mt-3">Password</label>
          <input name="password" type="password" placeholder="Enter password" class="form-control" id="password" required>
        </div>
        <button class="btn btn-success">SignUp</button>
      </form>
    </div>
  </div>
</body>